@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan-VariableFont_wght.ttf');
    /* src:    url('../fonts/LeagueSpartan-Regular.ttf'), 
        url('../fonts/LeagueSpartan-Black.ttf'),
        url('../fonts/LeagueSpartan-Bold.ttf'),
        url('../fonts/LeagueSpartan-ExtraBold.ttf'),
        url('../fonts/LeagueSpartan-ExtraLight.ttf'),
        url('../fonts/LeagueSpartan-Light.ttf'),
        url('../fonts/LeagueSpartan-Medium.ttf'),
        url('../fonts/LeagueSpartan-SemiBold.ttf'),
        url('../fonts/LeagueSpartan-Thin.ttf'); */
}

body {
    font-family: 'LeagueSpartan';
    font-size: large;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

main {
    height: calc(100% - 76px);
    overflow: hidden;
}

section {
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}

h1,
h2,
h3 {
    color: darkslateblue;
}

nav img {
    max-height: 48px;
    width: auto;
}

nav button {
    display: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.25rem;

}

.navbar-list {
    display: flex;
    list-style: none;
    background-color: white;
}

.navbar-list li {
    padding: 0 1rem 0 1rem;
}

.navbar-list li a:hover {
    filter: invert(50%) sepia(8%) saturate(1974%) hue-rotate(213deg) brightness(99%) contrast(84%);
}

.navbar-link {
    text-decoration: none;
    color: black;
    padding-bottom: 0.5rem;
    border-bottom: .25rem solid transparent;
}

.navbar-link:hover {
    border-bottom-color: #8679b1;
}

.navbar-link:focus {
    border-bottom-color: darkslateblue;

}

.img-circle {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    border: none;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    background-color: darkslateblue;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.concepts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 2rem;
}

.middle-concept {
    border-left: 2px solid #685a9e;
    border-right: 2px solid #685a9e;
}

.card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: start;
}

.card div {
    padding: 1rem;
    align-self: center;
}

.card-img img {
    max-width: 100%;
    height: auto;
}

.skill-img {
    height: 32px;
    width: auto;
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

figure img {
    max-height: 200px;
    width: 100%;
    transition: all .23s ease;
}

.work {
    position: relative;
    border-radius: 20px;
}

figcaption p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.image figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .23s ease;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.image.push figcaption {
    opacity: 0;
    visibility: hidden;
}

.image.push:hover>img {
    opacity: 0;
    visibility: hidden;
}

.image.push:hover>figcaption {
    opacity: 1;
    visibility: visible;
    background-color: #e0dceb;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-link-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.cnt-form {
    width: 100%;
    padding: 2rem;
    background-color: #e0dceb;
    border-radius: 8px;
    margin-top: 2rem;
    color: darkslateblue;
}

.cnt-form div {
    margin: 1rem;
}

.alert {
    display: none;
    padding: 0.5rem;
    border-radius: 8px;
}

.alert-success {
    display: block;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: darkslateblue;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hidden-section {
    display: none;
}

.long-job-description {
    display: block;
}

.short-job-description {
    display: none;
}

.unique {
    grid-column: 1 / span 2;
}

.modal {
    display: none;
    height: 100vh;
    width: 100vw;
    transition: all .23s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.modal.active {
    display: block;
}

.modal-content {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-submit {
    font-family: 'LeagueSpartan';
    font-size: unset;
}

@media (max-width: 768px) {

    nav {
        justify-content: space-between;
        position: relative;
    }

    nav button {
        display: block;
    }

    .navbar-list {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 267%;
        left: 0;
        width: 100%;
        justify-content: space-evenly;
        z-index: 2;
    }

    .navbar-list li {
        padding: 0.5rem 0 0.5rem 0;
    }

    .main-menu {
        top: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0 0.5rem 0;
    }

    .navbar-list.active {
        display: flex;
    }

    .concepts {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 2rem;
    }

    .middle-concept {
        border: 0;
    }

    .contact-link-container {
        display: contents;
    }

    .works {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .card-img img {
        max-height: 150px;
    }

    figure {
        display: flex;
        min-height: 220px;
    }

    .long-job-description {
        display: none;
    }

    .short-job-description {
        display: block;
    }
}